body{
                min-height: 100vh;
                height: 100%;
                background-color: #ffe4c4;
                position: relative;
                overflow:hidden;
                color: brown;
            }
            .menu{
                position: relative;
            }
            .header{
                display: flex;
                flex-direction: row;
                position: absolute;
                top: 16px;
                left: 10px;
                right: 10px;
                margin-top: 10px;
                z-index: 2;
            }
            .whisk{
                width: 32px;
                margin-right: 220px;
            }
            .title{
                color: brown;
                font-size: 30px;
                font-weight: bold;
                margin-left: 180px;
            }
            .delivery,.about,.contacts{
                font-size: 18px;
                color: brown;
                cursor: pointer;
            }
            .delivery:hover,.about:hover,.contacts:hover{
                text-decoration: underline;
            }
            .search-bar{
                width: 300px;
                height: 20px;
                padding: 6px;
                padding-left: 10px;
                background-color: bisque;
                border: 1px solid brown;
                border-radius: 15px;
            }
            .search-bar::placeholder{
                color: brown;
            }
            .right-section{
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
            .buy{
                background-color: brown;
                border-radius: 20px;
                color: antiquewhite ;
                border: none;
                padding: 4px 114px;
                cursor: pointer;
                margin: 10px 0;
            }
            .buy:hover{
                scale: 1.03;
                transition: 0.3s;
            }
            .content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: calc(100vh - 60px);
            }
            .image{
                margin-top: 140px;
                width: 300px;
                border-radius: 10px;
                cursor: pointer;
            }
            .image:hover{
                scale: 1.1;
                transition: 0.3s;
            }
            .details{
                position: absolute;
                font-size: 18px;
                right: 60px;
                top: 200px;
                background-color: rgb(255, 236, 213);
                padding: 10px;
                height: 255px;
                border-radius: 10px;
                width: 250px;
            }
            .left-section{
                position: absolute;
                left: 20px;
                line-height: 6px;
                top: 60px;
                font-size: 18px;
                cursor: pointer;
            }
            .categories,.popular,.offer{
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 25px;
                text-decoration: underline;
            }
            .categories:hover,.popular:hover,.offer:hover{
                scale: 1.04;
                transition: 0.2s;
            }
            .price{
                font-size: 18px;
                font-weight: 500;
                display: flex;
                justify-content: center;
            }
            .item-name{
                margin-bottom: 20px;
                font-weight: 1000;
                font-size: 22px;
                display: flex;
                justify-content: center;
            }
            .description{
                line-height: 3px;
            }
            .raspberry_macaroon{
                margin-top: 30px;
                display: flex;
                justify-content: center;
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 30px;
            }
            .others{
                width: 500px;
                margin-top: 20px;
                cursor: pointer;
            }
            .other-items{
                display: flex;
                align-items: center; 
                justify-content: center;
            }
            .left,.right{
                margin-top: 20px;
                width: 42px;
                cursor: pointer;
            }
            .ingredients{
                margin-bottom: 25px;
                font-weight: 600;
            }
            .left:hover,.right:hover{
                scale: 1.1;
                transition: 0.2s;
            }
            .selected{
                background-color: rgb(244, 211, 171);
                padding: 6px 0;
            }
            .one,.two,.three{
                border-bottom: 2px solid rgba(165, 42, 42, 0.3);
            }
        